@import './utils.styl'

*
	margin 0
	padding 0
	font-family 'arial', 'weiruanyahei'
	
.bg
	background url(../img/bg.png) no-repeat center center / 100% 100%
	size 100vw 100vh
	position fixed
	z-index -1
	
.cover
	size 100vw 100vh
	position fixed
	left 0
	top 0
	z-index 4
	background rgba(0,0,0, .5)

.main
	background url(../img/main.png) no-repeat center center / 100% 100%
	size 100vw 140vw
	position fixed
	z-index 1
	top 10vw
	box-sizing border-box
	padding 0 10vw
	padding-top 78vw
	font-size 3.6vw
	color #555
	overflow hidden
	
	.m-p
		size 100% 30vw
	
	.m-b
		size 35vw 12vw
		float left
		margin 7vw 0 0 0 
	
	#qd
		margin-right 7vw
		bgimg url(../img/pd.png)

	#phb
		margin-left 0
		bgimg url(../img/phb.png)
		
.ashow
	position fixed
	top 60vw
	left 5vw
	size 90vw 60vw
	box-sizing border-box
	padding-top 40vw
	
	.a-b
		size 35vw 12vw
		float left
		margin-left 6vw
				

#hdcw
	bgimg url(../img/hdcw.png)
	z-index 5
	
	#xczl
		bgimg url(../img/xczl.png)
		
	#zjzl
		bgimg url(../img/zjzl.png)
		
#fqqd
	bgimg url(../img/fqqd.png)
	z-index 5
	
	#wdcl
		bgimg url(../img/wdcl.png)
		
	#jtjsl
		bgimg url(../img/jtjsl.png)
		
.bshow
	position fixed
	top 60vw
	left 5vw
	size 90vw 70vw
	box-sizing border-box
	padding-top 50vw
	z-index 5
	
	.b-b
		size 34vw 13vw
		margin 0 auto
		bgimg url(../img/fh.png)

#qdsb
	bgimg url(../img/qdsb.png)

.ques
	size 90vw 100vw
	z-index 3
	bgimg url(../img/ques.png)
	position fixed
	top 45vw
	left 5vw
	
	#q-m
		size 84vw auto
		text-align center
		font-size 5vw
		color #222
		padding-top 20vw
		padding-bottom 5vw
		
	.ans
		size 36vw 12vw
		float left 
		margin 5vw 1vw 5vw 5vw
		text-align center
		line-height 12vw
		font-size 4vw
		
	#da-a
		bgimg url(../img/da-a.png)
		
	#da-b
		bgimg url(../img/da-b.png)
		
	#da-c
		bgimg url(../img/da-c.png)
		
	#da-d
		bgimg url(../img/da-d.png)

.phb
	size 90vw 155vw
	position fixed
	z-index 3
	top 5vw
	left 5vw
	box-sizing border-box
	padding-top 30vw
	bgimg url(../img/phbbg.png)
	
	.p-mc
		float right
		clear both
		font-size 8vw
		padding-right 24vw
		color rgb(253, 162, 90)
		text-shadow -1px 1px red
		
	.p-p
		transform translate(0, 17vw)
		margin 0 auto
		size 75vw 72vw
		overflow-y auto
		
	.pp-im
		size 100% 16vw
		clear both
		overflow hidden
		
		.ppi-ava
			border-radius 50%
			size 11vw
			margin 1.8vw 3vw
			float left
			bgimg ''
			clear left
			border .1vw solid #ccc
			
		.ppi-name
			size 40vw 100%
			text-align center
			font-size 4.5vw
			overflow hidden
			text-overflow ellipsis
			white-space nowrap
			float left
			line-height 15vw
			color #666
		
		.ppi-stand
			float left
			size 7vw 9vw
			font-size 5vw
			margin 3vw 0
			margin-left 3vw
			text-align center
			line-height @height
			bgimg ''
			color #333
			clear right
		























